.button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 326px;
    height: 49px;

    border: 2px solid white;

    margin-bottom: 15px;

    transition: transform .3s ease-out;
}

.button:hover {
    transform: translateY(-5px);
}

.button .text-button {
    color: white;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}
